# 仮想マシンのホストキーは作成のたびに変わるため、確認をスキップさせknown_hostsに登録しないようにする

[defaults]
host_key_checking = False

# カレントディレクトリ（ansible/）直下の roles を指定
roles_path = ./roles

# stdout をリアルタイムかつ見やすい形式で出力
stdout_callback = debug

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null

# 高速化
pipelining = True

[privilege_escalation]
become_flag = -H -S -n
